.idea/
target/
src/main/webapp/VAADIN/themes/connect4theme/styles.scss.cache
.designer/
src/main/resources/static/
src/main/resources/templates/
src/main/webapp/VAADIN/themes/connect4theme/styles.css
src/main/webapp/VAADIN/widgetsets/
